.radio-container {
    margin-bottom: 6px;
}

.radio-option-wrap {
    padding-right: 48px;
    font-size: 18px;
}

[type="radio"]:checked, [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #c3c3c3;
}

[type="radio"]:checked+label {
    color: white;
}

[type="radio"]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    transition: background-color 0.2s ease;
}

[type="radio"]+label:after {
    content: "";
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    transition: opacity .2s ease, transform 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

[type=radio]:checked+label:before {
    background-color: #77b800;
    border-color: #77b800;
}

@media (max-width:600px) {
    .radio-container {
        width: 100%;
        text-align: center;
    }
    .radio-option-wrap:last-child {
        padding-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .radio-container {
        text-align: center;
    }
}